<%= form_for @profile, url: wizard_path do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= yield form %>

  <div class="actions">
    <%= form.submit %>
    or <%= link_to "skip this step", next_wizard_path %>||
    <%= link_to 'Back', request.referrer, method: :get %>
  </div>
<% end %>