<h1>employer and work  page</h1>

<%= render layout: 'form' do |form| %>

  <div class="field">
    <%= form.label "Name of Employer/Business" %>
    <%= form.text_field :workplace %>
  </div>

  <div class="field">
    <%= form.label "Business/Employer's Address" %>
    <%= form.text_field :workplace_address %>
  </div>

  <div class="field">
    <%= form.label "Business/Employer's Phone Number" %>
    <%= form.text_field :emp_phone %>
  </div>

  <div class="field">
    <%= form.label "Duration of Employment" %>
    <%= form.text_field :emp_duration %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title %>
  </div>

  <div class="field">
    <%= form.label "Annual Gross Salary (NGN)" %>
    <%= form.number_field :monthly_net %>
  </div>

  <div class="field">
    <%= form.label "Other Income (NGN)" %>
    <%= form.number_field :other_income %>
  </div>
<% end %>

