<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :DOB %>
    <%= form.date_select :DOB %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address %>
  </div>

  <div class="field">
    <%= form.label :workplace_address %>
    <%= form.text_field :workplace_address %>
  </div>

  <div class="field">
    <%= form.label :workplace %>
    <%= form.text_field :workplace %>
  </div>

  <div class="field">
    <%= form.label :monthly_net %>
    <%= form.number_field :monthly_net %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
