<p id="notice"><%= notice %></p>

<h1> My Profile</h1>

<br/>

<h2>Personal Information Section</h2>

<%= form_with(model: @profile) do |form| %>
  
  <div class="field row mb-3">
      <%= form.label "Title", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :title, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Marital Status", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :marital_status, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Gender", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :gender, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "First Name", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :firstname, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Last Name", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :lastname, readonly:true %>
      </div>
  </div>

<div class="field row mb-3">
      <%= form.label "Date of Birth", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :DOB, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Phone Number", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :phone, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Nationality", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :nationality, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Home Address", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :Address, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
    <h2>Bank Section</h2>
  </div>

  <div class="field row mb-3">
    <%= form.label "Account Name", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :acc_name, readonly:true %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= form.label "Bank Name", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :bank_name, readonly:true %>
    </div>
  </div>

    <div class="field row mb-3">
    <%= form.label "Account Number", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :acc_number, readonly:true %>
    </div>
  </div>

    <div class="field row mb-3">
    <%= form.label "Branch Name", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :branch_name, readonly:true %>
    </div>
  </div>

  <div class="field row mb-3">
    <h2>Employer/Business Information Section</h2>
  </div>

  <div class="field row mb-3">
      <%= form.label "Name of Employer/Business", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :workplace, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Business/Employer's Address", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :workplace_address, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Business/Employer's Phone Number", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :emp_phone, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Duration of Employment", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :emp_duration, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Job Title", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :job_title, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Annual Gross Salary(NGN)", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :monthly_net, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Other Income (NGN)", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :other_income, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
    <h2>Referees Section</h2>
  </div>

  <div class="field row mb-3">
      <%= form.label "Title", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_title, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Gender", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_gender, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "First Name", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_firstname, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Last Name", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_lastname, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Address", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_address, readonly:true %>
      </div>
  </div> 

  <div class="field row mb-3">
      <%= form.label "Phone Number", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_phone, readonly:true %>
      </div>
  </div>

  <div class="field row mb-3">
      <%= form.label "Email", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :ref_email, readonly:true %>
      </div>
  </div>

  <div class="actions">
    <div class="btn-box">
      <%# <%= link_to 'Edit', edit_profile_path(@profile) %> %>
      <%= link_to 'Edit', steps_after_registration_path(:personal) %>
      <%# <%= link_to 'Edit', edit_profile_path(@profile) | %> %>
      <%= link_to 'Back', request.referrer, method: :get %>
    </div>
  </div>
<% end %>
