<%= form_with(model: loaner) do |form| %>
  <% if loaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loaner.errors.count, "error") %> prohibited this loaner from being saved:</h2>

      <ul>
        <% loaner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "How much do you want to borrow?", class: "form-label" %>
    <span class="font-weight-bold indigo-text mr-2 mt-1">N50,000</span>
    <%= form.number_field :borrowed_amonunt, type: "range", class: "form-range", min: "50000", max: "200000", id: "customRange2" %>
    <span class="font-weight-bold indigo-text ml-2 mt-1">N200,000</span>
  </div>

  <div class="field">
    <%= form.label "For how long?" %>
    <%= form.number_field :duration, placeholder: "Enter number of weeks only." %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
